* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    
    background: #333;
    color: white;
    margin: 50px;
    padding: 50px;
    width: 80%;
    border: 10px #222 ridge;
    border-radius: 25px;

}

.container .fortune {
    font-weight: 600;
    font-size: 1.5rem;
}