* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
}

.cookie {
    height: 300px;
    cursor: pointer;
}

.container {
    display: none;
    position: absolute;
    /* transform: translateX(50vw); */
    background: whitesmoke;
    color: black;
    margin: 50px;
    padding: 30px;
    width: 50%;
    text-align: center;
    border-bottom: 4px yellow outset;
    border-radius: 5px;
    box-shadow: 8px 8px 5px lightblue;
}

.container .fortune {
    font-size: 1.25rem;
}


@keyframes slideout {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(40vw);
    }
}

/* @keyframes slidein {
    from {
        transform: translateX(50vw);
    }
    to {
        transform: translateX(0);
    }
    
} */