* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
}

.cookie {
    height: 300px;
    cursor: pointer;
}

.container {
    display: none;
    position: absolute;
    background: whitesmoke;
    color: black;
    margin: 50px;
    padding: 30px;
    width: 80%;
    /* border: 10px #222 ridge; */
    border-bottom: 4px yellow outset;
    border-radius: 5px;
    box-shadow: 8px 8px 5px lightblue;

}

.container .fortune {
    font-size: 1.25rem;
}


@keyframes slideout {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}